<div class="col m4">
              <div class="card">
                <div class="card-content">
                  <div class="row">
                      Formulario
                      <form class="col s12" #empleadoForm="ngForm">
                      
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="nombre" type="text" class="validate" [(ngModel)]="empleado.nombre" name="nombre">
                            <label for="nombre">Nombre:</label>
                          </div>
  
                          <div class="input-field col s12">
                            <input id="puesto" type="text" class="validate" [(ngModel)]="empleado.puesto" name="puesto">
                            <label for="puesto">Puesto:</label>
                          </div>
  
                          <div class="input-field col s12">
                            <input id="lugar" type="text" class="validate" [(ngModel)]="empleado.lugar" name="lugar">
                            <label for="lugar">Lugar:</label>
                          </div>
  
                          <div class="input-field col s12">
                            <input id="salario" type="number" class="validate" [(ngModel)]="empleado.salario" name="salario">
                            <label for="salario">salario:</label>
                          </div>
  
  
                            <button class="btn waves-effect waves-light green btn-small" (click)="agregarEmpleado()" *ngIf="!empleado._id else elseBlock" [disabled]="!empleadoForm.form.valid">Save</button> 

                            <ng-template #elseBlock>
                              <button class="btn waves-effect waves-light blue btn-small" (click)="actualizarEmpleado()" [disabled]="!empleadoForm.form.valid">Actualizar</button>
                            </ng-template>
                        </div>
  
                      </form>
                    <!--<form class="col s12" #empleadoForm="ngForm">
                      
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="nombre" type="text" class="validate" [(ngModel)]="empleado.nombre" name="nombre" placeholder="Ingresa tu nombre completo">
                          <label for="nombre">Nombre:</label>
                        </div>

                        <div class="input-field col s12">
                          <input id="puesto" type="text" class="validate" [(ngModel)]="empleado.puesto" name="puesto" placeholder="ingresa tu puesto">
                          <label for="puesto">Puesto:</label>
                        </div>

                        <div class="input-field col s12">
                          <input id="lugar" type="text" class="validate" [(ngModel)]="empleado.lugar" name="lugar" placeholder="ingresa tu ciudad">
                          <label for="lugar">Lugar:</label>
                        </div>

                        <div class="input-field col s12">
                          <input id="salario" type="number" class="validate" [(ngModel)]="empleado.salario" name="salario" placeholder="ingresa tu salario">
                          <label for="salario">salario:</label>
                        </div>


                          <button class="btn waves-effect waves-light green btn-small" (click)="agregarEmpleado()">Save</button>
                      </div>

                    </form>-->
                  </div>
                </div>
              </div>
    </div>